@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>小問題集解答</h1>
    <div>
        <br />
        <ul>
            <li>@Html.ActionLink("Q1", "Q1", "Q40")</li>
            <li>@Html.ActionLink("Q2", "Q2", "Q40")</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>
