@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Q2</title>
</head>
<body>
    <h1>Q2</h1>
    @Html.ActionLink("トップに戻る", "Index", "Home")
</body>
</html>